{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb home-btn">
    <a href="/"> Home </a> / <a href="/exhibit"> Exhibits </a>
</div>
<div class="page_title">
    {{title}}
</div>
<div class="content">
    <div class="exhibit_items">
        <ul>
            {% for item in exhibit_items %}
                <div class="exhibit_item">
                    {% if item.image %}
                    <img src="{% get_media_prefix %}{{ item.image }}"  alt="{{ item.name }} pic" style="text-align:center">
                    {% endif %}
                    <ul>
                        <li>Link to Archive: <a href="/archive/{{item.id}}">{{item.name}}</a></li>
                        <li style="text-align: left; color: black;"> About: <br> {{exhibit_text}}</li>
                    </ul>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}